
body {
    background-color: white;
}
h1 {
    font-family: Bradley Hand, cursive;
    color: rgb(182, 2, 2);
    text-align: center;
}
h3 {
    font-family: Bradley Hand, cursive;
    color: green;
}

div {
    font-family: Bradley Hand, cursive;
    color: rgb(182, 2, 2);
}
#menuBG {
    width: 500px;
    height:470px;
    margin:10px auto;
}

#frmMenu {
    width:600px;
    height:220px; /* salami button won't click if height is less that this */
}
#totalPrice {
    width:200px;
    height:190px;
    margin:0 auto;
    float:right;
}
.left {
    width:200px;
    height:220px;
    float:left;
}
.middle { /* Veggies section */
    width:200px;
    height:220px;
    float:left; /* without this, will print on the next line. */
}

.right {
    width:200px;
    height:220px;
    float:right;
}
#showText {
    width:200px;
    height:190px;
    margin:0px auto;
    float:left;
}
#cart {
    top:0;margin:0px auto;
    width:400px;
    height:200px;
}
#btnOrder { /* place order button */
    margin:10px 0px 0px 100px;
    width:100px;
    height:40px;
    display: block;
    margin: 25px auto; /*centers the button*/
    border: 2px solid rgb(182, 2, 2);
    background-color: green;
    border-radius: 8px;
    color: whitesmoke;
    font-weight:700;

}